<table  class="table table-bordered">
  <thead>
    <th> Id </th>
    <th> Username </th>
    <th> Email </th>
    <th> Phone </th>
    <th> Website</th>
    <th> Actions</th>
  </thead>
  <tbody>
  <tr *ngFor = "let user of users">
    <td>{{user.id}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>{{user.website}}</td>
    <td><button class="btn btn-primary" (click) = "editUser(user.id)"> Edit </button> &nbsp;
    <button class="btn btn-danger" (click) = "deleteUser(user.id)"> Delete</button></td>
  </tr>
</tbody>
</table>